* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Microsoft JhengHei;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.35);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  position: absolute;
  top: 0;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.logo__img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-right: 10px;
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #DA4453;
  font-weight: bold;
  font-size: 26px;
}

.logo:hover {
  background: rgba(74, 74, 74, 0.35);
}

.account {
  position: absolute;
  color: #004a99;
  font-size: 50px;
  right: 0;
  cursor: pointer;
}

.aside {
  position: fixed;
  z-index: 100;
  top: 0;
}

.nav {
  -webkit-transition: .5s;
  transition: .5s;
  background: #343a40;
  font-size: 1.5em;
  height: 100vh;
  width: 250px;
  position: absolute;
  top: 0;
  left: -250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0px 10vh 0px;
}

.nav__button {
  outline: none;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.nav__button_expand {
  width: 50px;
  height: 50px;
  background-image: url(../images/NAV.jpg);
  background-size: cover;
}

.nav__button_close {
  width: 20px;
  height: 20px;
  background-image: url(../images/X.png);
  background-size: cover;
  top: 0;
  right: 0;
  border-radius: 100%;
  margin-bottom: 30%;
  position: absolute;
}

.nav__item {
  padding: 14px;
  border-bottom: 1px solid rgba(74, 74, 74, 0.35);
  padding-left: 50px;
  width: 100%;
  font-weight: bold;
  margin-top: 0;
  color: #ced4da;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__item:hover {
  background: #6c757d;
}

.text__title {
  color: #DA4453;
  font-weight: 900;
  font-size: 2.5em;
  margin: 0;
}

@media (max-width: 800px) {
  /* Mobile */
  .nav {
    font-size: 1.8em;
    width: 100vw;
    left: -100vw;
  }
  .nav__item {
    padding-left: 25%;
  }
  .nav__button_close {
    width: 30px;
    height: 30px;
  }
}

.member {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.login {
  background: white;
  border-radius: 5px;
  width: 400px;
}

.login__options {
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  font-size: 2em;
  border-bottom: 1px solid;
}

.login__options .isPress {
  background: rgba(74, 74, 74, 0.3);
}

.login__options div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  cursor: pointer;
}

.login__options div:first-child {
  border-right: 1px solid;
}

.login__input {
  padding-left: 10px;
  height: 28px;
  width: 80%;
  font-size: 20px;
  margin-top: 16px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  background: #adb5bd;
}

.login__input ::-webkit-input-placeholder {
  color: #343a40;
}

.login__input :-ms-input-placeholder {
  color: #343a40;
}

.login__input ::-ms-input-placeholder {
  color: #343a40;
}

.login__input ::placeholder {
  color: #343a40;
}

.login__mail {
  display: none;
}

.login__btn {
  margin: 16px 0px 28px 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  height: 30px;
  font-size: 24px;
  text-align: center;
  background: #003166;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}
