@import "_all.scss";
body {
    background: url("../images/a.jpg") fixed;
    background-size: cover;
    overflow: hidden;
}

.container {
    overflow: hidden;
}

main {
    justify-content: flex-start;
    width: 100vw;
    display: flex;
}

.subpage {
    transition: 0.5s;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100VH - 50px);
    border-right: 1px solid rgba($secondary, 0.3);
    &__box {
        position: relative;
        bottom: -45px;
        text-align: center;
        font-size: 36px;
        font-weight: bolder;
        color: white;
    }
    &__text {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        font-size: 15px;
        padding: 10px;
        display: none;
    }
    &:hover {
        background: rgba(#000000, 0.5)
    }
    &:hover &__text {
        display: unset;
    }
}

/////rwd
@media (max-width: 800px) {
    /* Mobile */
    main {
        width: 400Vw;
    }
    .subpage__text {
        display: unset;
    }
}